.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
