Exercise 1

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: relative;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

Exercise 2

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: relative;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: relative;
  top: 0px;
  left: 0px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  top: 0;
  left: 0;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: -1
}

Exercise 3

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: relative;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: relative;
  top: 0px;
  left: 0px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  left: 400px;
  top: 200px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0px;
  left: 0px;
}


Exercise 4

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: relative;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  left: -100px;
  top: -100px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

Exercise 5

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: relative;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  top: 400px;
  left: 800px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  top: -200px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: -200px;
  left: -00px;
}