/*mock5*/

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.four {
  position: fixed;
  display: block;
  top: 8px;
  left: 8px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
